.casestudies-container {
  margin-top: 4rem;
}

.casestudies-header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 3rem;
}

@media (min-width: 640px) {
  .casestudies-header {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}

.casestudies-title {
  background-color: #b9ff6b;
  border-radius: 0.375rem;
  padding: 0.375rem 1rem;
  color: black;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.25rem;
  user-select: none;
}

.casestudies-description {
  color: black;
  font-size: 1.125rem;
  line-height: 1.5rem;
  max-width: 38rem;
}

.casestudies-content {
  background-color: #161820;
  border-radius: 1.5rem;
  padding: 3rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  min-height: 18rem;
  box-sizing: border-box;
}

.casestudy-item {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  min-height: 12rem;
  width: 100%;
  box-sizing: border-box;
}

.casestudy-item:not(:first-child) {
  border-left: 1px solid #444;
  box-sizing: border-box;
}

.casestudy-text {
  margin-bottom: 2rem;
  max-width: 18rem;
  line-height: 1.75rem;
  min-height: 7rem;
  box-sizing: border-box;
}

.casestudy-link {
  color: #b9ff6b;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-decoration: none;
  box-sizing: border-box;
}

.casestudy-link:hover,
.casestudy-link:focus {
  text-decoration: underline;
  outline: none;
}

.casestudy-icon {
  margin-left: 0.5rem;
  stroke: #b9ff6b;
}
