.teamsection-container {
  margin-top: 4rem;
  background-color: white;
  color: black;
  padding: 3rem 6rem;
}

.teamsection-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  max-width: 700px;
}

.teamsection-title {
  background-color: #b9ff66;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 1.3;
}

.teamsection-description {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
}

.teamsection-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  max-width: 1300px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .teamsection-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .teamsection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.teamsection-member-card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  box-shadow: 8px 8px 0 0 #1a1c23;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teamsection-member-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  position: relative;
}

.teamsection-member-image {
  border-radius: 2rem;
  box-shadow: 8px 8px 0 0 #1a1c23;
  width: 96px;
  height: 96px;
}

.teamsection-member-linkedin {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: black;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b9ff66;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

.teamsection-member-info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-top: 4rem;
}

.teamsection-member-name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
}

.teamsection-member-role {
  font-size: 1rem;
  line-height: 1.3;
}

.teamsection-divider {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem;
}

.teamsection-member-description {
  font-size: 1rem;
  line-height: 1.3;
}

.teamsection-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}

.teamsection-see-all-button {
  background-color: #1a1c23;
  color: white;
  border-radius: 0.75rem;
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  cursor: pointer;
  border: none;
}
